


<div class="container">
		<div class="">
			<div class="col-lg-13 col-lg-offset-2">
				<H2>{{vmSE.title}}</H2>		
			</div>
		</div>
		<br>
		<form>	
			<div class="row">
				<div class="col-lg-4 col-lg-offset-2">
					<div class="row">
						<div class="form-group col-lg-12">
							<label for="name">Имя</label>
							<input type="text" id="name" class="form-control" ng-model="vmSE.stationery.name">

						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-4">
							<label for="name1">Единицы</label>
							<input type="text" id="nameu" class="form-control" ng-model="vmSE.stationery.unit">
						</div>
						<div class="form-group col-lg-4">
							<label for="name2">Цена</label>
							<input type="text" id="nameub" class="form-control" ng-model="vmSE.stationery.price">
						</div>
					</div>
					<div class="row">
						<div class="checkbox col-lg-4">
							<label>
								<input type="checkbox" ng-model="vmSE.stationery.deleted">Удалено
							</label>

						</div>
					</div>
				</div>
				<div class="col-lg-4">
				    <div class="form-group">
				      <label for="comment">Комментарий:</label>
				      <textarea class="form-control" rows="5" id="comment" ng-model="vmSE.stationery.description"></textarea>
				    </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-xs-12">
					<div class="row">
						<div class="col-lg-2 col-xs-2">
							<button class="btn btn-primary btn-block" ng-click="vmSE.save()">Сохранить</button>
						</div>
						<div class="col-lg-2 col-xs-2">
							<button class="btn btn-default btn-block" ng-click="vmSE.cancel()">Отменить</button>	
						</div>
					</div>
				</div>
			</div>
		</form>		
</div>


