<H1>Hello Stationery</H1>

<div class="panel panel-default">
  <div class="panel-heading">
	<h4>
        Доступные канцелярские товары. 
    </h4>
  </div>
	<div class="block sc">
		<table class="table table-striped">
			<div class="container">	
				<thead class="">
					<tr class="row">
						<th class="col-lg-1">...</th>						
						<th class="col-lg-3">Название</th>
						<th class="col-lg-1">Цена</th>
						<th class="col-lg-1">Единици</th>
						<th class="col-lg-6">Описание</th>
					
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vmS.homeVM.stationeryVM" class="row">
						<td class="col-lg-1"><input type="checkbox" ng-model="item.selected"></td>
						<td class="col-lg-3">{{item.stationery.name}}</td>
						<td class="col-lg-1">{{item.stationery.price}}</td>
						<td class="col-lg-1">{{item.stationery.unit}}</td>
						<td class="col-lg-6">{{item.stationery.description}}</td>
					</tr>
				</tbody>
			</div>
		</table>   
	</div>
</div>
