<H1>WELCOME HOME</H1>




<div class="panel panel-default">
  <div class="panel-heading">
	<h4>
        Доступные канцелярские товары. 
    </h4>
  </div>
	<div class="block sc">
		<table class="table table-striped">
			<div class="container">	
				<thead class="">
					<tr class="row">
						<th class="col-lg-1">...</th>						
						<th class="col-lg-3">Название</th>
						<th class="col-lg-1">Цена</th>
						<th class="col-lg-1">Единици</th>
						<th class="col-lg-6">Описание</th>
					
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.Stationeries" class="row">
						<td class="col-lg-1"><input type="checkbox" ng-model="item.selected"></td>
						<td class="col-lg-3">{{item.stationeries.name}}</td>
						<td class="col-lg-1">{{item.stationeries.price}}</td>
						<td class="col-lg-1">{{item.stationeries.unit}}</td>
						<td class="col-lg-6">{{item.stationeries.description}}</td>
					</tr>
				</tbody>
			</div>
		</table>   
	</div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
	<h4>
        Корзина. 
    </h4>
  </div>
	<div class="block sc">
		<table class="table table-striped">
			<div class="container">	
				<thead class="">
					<tr class="row">
						<th class="col-lg-1">...</th>					
						<th class="col-lg-3">Название</th>
						<th class="col-lg-1">Цена</th>
						<th class="col-lg-1">Единици</th>
						<th class="col-lg-6">Описание</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.Stationeries | filter:{selected:true}" class="row">
						<td class="col-lg-1"><input type="checkbox" ng-model="item.selected"></td>					
						<td class="col-lg-3">{{item.stationeries.name}}</td>
						<td class="col-lg-1">{{item.stationeries.price}}</td>
						<td class="col-lg-1"><input type="text" size="1"> {{item.stationeries.unit}}</td>
						<td class="col-lg-6">{{item.stationeries.description}}</td>
					</tr>
				</tbody>
			</div>
		</table>   
	</div>
</div>

  <form role="form">
    <div class="form-group">
      <label for="comment">Комментарий:</label>
      <textarea class="form-control" rows="5" id="comment" ng-model="Request.description"></textarea>
    </div>
  </form>







